* {
    padding: 0px;
    margin: 0px;
}

/*Start the header*/
.header {
    background-color: antiquewhite;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header h1 {
    size: 40px;
    color: rgb(64, 138, 113);
    padding: 4px 10px;
}

.header nav ul {
    margin: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header a {
    color: rgba(14, 87, 62, 0.5);
    font-weight: bold;
    text-decoration: none;
    padding: 0 15px 0 15px;
    font-size: 18px;
    align-items: center;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.header a:hover {
    background-color: darkblue;
    color: darkgray;
    box-shadow: 0 0 10px black;
}
/*End the header*/

/*Start the hero*/
.hero {
    background-color: rgb(104, 104, 207);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hero img {
    margin: 10px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid white;

}

.hero h2 {
    font-size: 26px;
    color: chartreuse;
    padding: 10px 0 10px 0;
}

.hero div p {
    color: azure;
    font-size: 20px;
    padding: 10px 0 10px 0;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-me {
    width: 50%;
}

.about-me ul li {
    list-style: none;
    color: azure;
}

.about-me ul li::before {
    content: "🏋️";
}

.about-me ul li:hover::before {
    content: "⛰️";
}

/*end the hero*/

/*My work section*/

.my-work {
    background-color: beige;
}

.work-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.my-work h2 {
    font-size: 26px;
    color: chartreuse;
    padding: 10px 10px;
    justify-content: center;
    display: block;
}

.my-work div {
    border: 1px solid black;
    border-radius: 15%;
    margin: 5px 10px;
    flex-basis: 30%;
}

.head-liner {
    flex-basis: 60%;
    height: 40px;
    display: block;
    background-image: url(./images/background.jpg);
}

/*My work end*/

/*Contact me start*/


/*Contact me end*/